tracefolder: traceout/cont-si-s2i_expo_0.5_s2e_expo_2.0_i2r_expo_2.0_i2s_expo_2.0_e2i_expo_2.0_sprob_0.2/0.0-0
resultfilename: ceferresults.edg 
tracecount: 10
smodel: si
samplerate: 0
evol: static
sprob: 0.2
extra: Em
errortype: abse
cover: cover
s2i: expo 1.0
i2r: expo 2.0
e2i: expo 2.0
i2s: expo 2.0
s2e: expo 2.0
runmode: serial
parallelcount: 200
graphfilename: stanford-contact-static-750-9777-100.gml
printscore: f01