noise: 0.3
evol: static
tracecount: 5
ongraph: False
traceoutfolder: ./testtraces_real_static_si_edge_cont/enron-email-clustered-435-4101-6-2.gml
startnodecount: 1
sprob: 0.05
s2i: rayleigh 1.5
dist: cont
samplerate: 1
smodel: si
graphfilename: ../real_static_graphs/enron-email-clustered-435-4101-6-2.gml
