noise: 0.7
evol: static
tracecount: 5
ongraph: False
traceoutfolder: ./testtraces_real_static_si_edge_cont/stanford-contact-static-750-9777-100.gml
startnodecount: 1
sprob: 0.08
s2i: weibull 2.5 9.5
dist: cont
samplerate: 8
smodel: si
graphfilename: ../real_static_graphs/stanford-contact-static-750-9777-100.gml
