noise: 0.75
evol: static
tracecount: 5
ongraph: False
traceoutfolder: ./testtraces_real_static_seir_edge_cont/enron-email-clustered-435-4101-6-2.gml
startnodecount: 1
i2r: rayleigh 0.5
sprob: 0.05
e2i: rayleigh 0.5
s2e: rayleigh 0.5
dist: cont
samplerate: 8
smodel: seir
graphfilename: ../real_static_graphs/enron-email-clustered-435-4101-6-2.gml
